{% load static %}
    <footer class="page-footer font-small blue pt-1">
        <div class="footer-copyright text-center py-3">
            Powered by BMSInfo<br>
            <a href="https://twitter.com/bemusicscript?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bemusicscript</a>
            <a class="github-button" href="https://github.com/iidx" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="small" aria-label="Follow @iidx on GitHub">Follow @iidx</a>
        </div>
    </footer>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="{% static 'js/global.js' %}"></script>
</body>
</html>

