{% include 'base/header.html' %}
{% load static %}
    <div class="jumbotron">
        <div class="jumbotron-background"></div>
        <div class="container-fluid">
            <h1 class="display-4">Q & A</h1>
            <p class="lead" style="color:white;"></p>
        </div>

    </div>
    <hr style="width:0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div align="center">
                        <div class="card">
                            <div class="content card-content" align=left style="padding: 30px 20px;">
                                <h6>
                                    <b>
                                        &#128587;
                                        API를 제공해주실 수 있나요?
                                    </b>
                                </h6>
                                <span>
                                    현재로서는 관련 정보를 제공해드리기 힘들 것 같습니다.
                                </span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127995;&#8205;&#9794;&#65039;
                                        Elo 레이팅을 구현할 의향이 있으신가요?
                                    </b>
                                </h6>
                                <span>
                                    이전에 구현했었으나 제대로 결과가 안나와서..<br>
                                    이번 기회에 적재된 래더 매치 데이터를 기반으로 다시 구현해볼 예정입니다.
                                </span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127995;&#8205;&#9794;&#65039;
                                        래더 승격전 UI도 구현해주셨으면 좋겠습니다.<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        제가 8버튼 골-플 승격전 상황인데 골드1 Promotion Match 안 나오고 언랭 UI가 나오네요.
                                    </b>
                                </h6>
                                <span>이거 버그라서 수정할게요 ㅋㅋ</span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127996;
                                        유저전적 창의 뒷배경이 흰색이라 티어가 다이아,마스터,그마일때 보호색 때문에 잘 보이지 않습니다.<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        유저 개인정보에서 티어 아이콘이 흰색배경과 겹쳐서 잘 안보이는데 배경색을 다른 색으로 바꿀 수 있나요?
                                    </b>
                                </h6>
                                <span>다크모드가 될지는 모르겠는데 일단 한번 시도는 해볼게요..</span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127995;&#8205;&#9792;&#65039;
                                        깃헙 콜라보레이터 신청 받나요? 프론트 쪽에서 지장이 있으시다는 글을 보고 함 남겨봅니다.
                                    </b>
                                </h6>
                                <span>
                                    관심에 감사드립니다ㅜㅜ..<br>
                                    bemusicscript@gmail.com 메일로 깃헙주소랑 제작하신 사이트같은거 링크좀 보내주세용!
                                </span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127996;
                                        순위표시 반대로 되는 것 같은디 기분탓임?
                                    </b>
                                </h6>
                                <span>넵..</span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127995;&#8205;&#9794;&#65039;
                                        Ladder History에서 파란색으로 색칠되어있는데 게임 진걸로 나와요<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Knowledge System을 플레이했는데 Cosmic Elevator 이미지가 나와요!
                                    </b>
                                </h6>
                                <span>버그네용 빠르게 수정해보겠습니다! 제보에 감사드려요 ㅜㅜ</span>
                                <hr style="width:0">

                                <h6>
                                    <b>
                                        &#128587;&#127996;
                                        특정 유저의 프리스타일 점수, 특정 곡, 패턴에 대한 TOP 100 유저도 보여줄 수 있나요?
                                    </b>
                                </h6>
                                <span>
                                    아쉽게도 특정 곡, 패턴에 대한 개별적인 랭킹 데이터 제공은 기술적인 문제로 불가능할 것 같습니다..
                                </span>
                                <hr style="width:0">

                            </div>
                        </div><br>

                    </div>
                </div>
        </div>
    </div>
{% include 'base/footer.html' %}
