{% include 'base/header.html' %}
{% load static %}
    <div class="jumbotron">
        <div class="jumbotron-background"></div>
        <div class="container-fluid">
            <h1 class="display-4">Special Thanks</h1>
            <p class="lead" style="color:white;"></p>
        </div>

    </div>
    <hr style="width:0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div align="center">
                        <div class="card">
                            
                            <div class="content card-content">
                                <br>
                                <b>Maintainer</b><br>
                                <a href="https://twitter.com/bemusicscript">xert*</a><br>
                                <br>
                                <b>Frontend Development</b><br>
                                <a href="https://twitter.com/bemusicscript">xert*</a><br>
                                <a href="https://harold.kim">stypr</a><br>
                                <br>
                                <b>Resource Provision</b><br>
                                <a href="https://twitter.com/Lapis_BMS">Lapis</a><br>
                                <a href="https://www.youtube.com/channel/UC66duPrHKb_TJge0IL8x_9g">BROKENPASTEL</a><br>
                                <br>
                            </div>
                        </div><br>

                    </div>
                </div>
        </div>
    </div>
{% include 'base/footer.html' %}
